.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 395px;
  height: 60px;
  background-color: #B58AF2;
  margin-bottom: 30px;
}

.humburger-menu {
  padding: 10px;
  font-size: 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.header__text {
  font-weight: 600;
  color: #fff;
}

.close {
  padding: 10px;
  font-size: 38px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}